{% use 'AdmingeneratorGeneratorBundle::flash.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    {% block head_content %}
        <meta charset="utf-8">
        <title>{% block title %}Admin{% endblock %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/iCheck/skins/minimal/_all.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/jquery-treetable/css/jquery.treetable.css') }}" type="text/css" media="all"/>

    {# Admin LTE #}
    <link rel="stylesheet" href="{{ asset('admin/components/admin-lte/dist/css/AdminLTE.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/admin-lte/dist/css/skins/_all-skins.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/ionicons/css/ionicons.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('admin/components/iCheck/skins/square/blue.css') }}" type="text/css" media="all"/>

    <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/main.css') }}" type="text/css" media="all"/>
    {% endblock %}

    {% block icons %}
        <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed"
          href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}

    {% block javascripts_head %}
        <script src="{{ asset("admin/components/jquery/dist/jquery.js") }}" type="text/javascript"></script>
        <!--[if lt IE 9]>
        <script src="{{ asset('admin/components/html5shiv/dist/html5shiv.js') }}"></script>
        <script src="{{ asset('admin/components/respond/dest/respond.js') }}"></script>
        <![endif]-->
    {% endblock javascripts_head %}
    {% endblock head_content %}
</head>


{% block html_body_tag %}
    <body class="skin-blue sidebar-mini">
{% endblock html_body_tag %}

{% block body_content %}
    {% block html_tag_wrapper %}
        <div class="wrapper">
    {% endblock html_tag_wrapper %}

    {% block wrapper_content %}
        {% block header %}
            {% include 'AdmingeneratorGeneratorBundle::header.html.twig' %}
        {% endblock header%}

        {% block sidebar %}
            <aside class="main-sidebar sidebar-offcanvas">
                {% include "AdmingeneratorGeneratorBundle:Sidebar:layout.html.twig" %}
            </aside>
        {% endblock sidebar %}

        {% block page %}
            <aside class="content-wrapper">
                {% block page_header %}
                <section class="content-header">
                    {% block page_header_content '' %}
                </section>
                {% endblock page_header %}
                <section class="content">
                    {{ block('flash_messages') }}
                    {% block page_content '' %}
                </section>
            </aside>
        {% endblock page %}
    {% endblock wrapper_content %}

        {# Wrapper end #}
        </div>

    {% block javascripts %}
        <script src="{{ asset("admin/components/bootstrap/dist/js/bootstrap.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/components/iCheck/icheck.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/components/slimScroll/jquery.slimscroll.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/components/jquery-resize/jquery.ba-resize.js") }}" type="text/javascript"></script>
        <script src="{{ asset("admin/components/jquery-treetable/jquery.treetable.js") }}" type="text/javascript"></script>
        <script src="{{ asset("/admin/components/admin-lte/dist/js/app.js") }}" type="text/javascript"></script>
        <script src="{{ asset("bundles/admingeneratorgenerator/js/main.js") }}" type="text/javascript"></script>
    {% endblock %}

{% endblock body_content %}
</body>
</html>
