{% use '../CommonAdmin/ShowTemplate/column.php.twig' %}

{% block show %}
    {{ echo_block('show_object') }}
        {% for fieldsetName,fieldset in builder.fieldsets %}
            {% set fieldsetColumns = builder.columnsFor(fieldset) %}
            {% set fieldsetCredentials = fieldsetColumns|mapBy('credentials')|flatten %}

            {% if fieldsetCredentials is not empty %}
                {{ echo_set('fieldsetCredentials', echo_twig_arr(fieldsetCredentials), false) }}
                {{ echo_if('is_one_admingenerator_granted(fieldsetCredentials, ' ~ builder.modelClass ~ ')') }}
            {% endif %}

                <div class="show-model-tab-pane tab-pane-model-{{ fieldsetName|classify|replace({'.': '-'}) }} tab-pane">
                    {% if "NONE" != fieldsetName[:4] and "!" != fieldsetName[:1] %}
                        <h2>{{ echo_trans(fieldsetName,{}, i18n_catalog is defined ? i18n_catalog : "Admin" ) }}</h2>
                    {% endif %}

                    {% for row in fieldset %}
                        {% set rowColumns = builder.columnsFor(row) %}
                        {% set rowCredentials = rowColumns|mapBy('credentials')|flatten %}

                        {% if rowCredentials is not empty %}
                            {{ echo_set('rowCredentials', echo_twig_arr(rowCredentials), false) }}
                            {{ echo_if('is_one_admingenerator_granted(rowCredentials, ' ~ builder.modelClass ~ ')') }}
                        {% endif %}

                        {% for column in rowColumns %}
                            <div class="row">
                                {% if column.credentials is not empty %}
                                    {{ echo_if('is_granted("' ~ column.credentials ~ '", ' ~ builder.modelClass ~ ')') }}
                                {% endif %}

                                <div class="show-model-field-label show-model-field-label-{{ column.name|lower }} show-model-field-type-{{ column.formType|lower }} col-md-2 text-right">
                                    {{ echo_block('show_column_label_' ~ column.name) -}}
                                        <strong>{{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}</strong>
                                    {{- echo_endblock() }}
                                </div>

                                <div class="show-model-field-content show-model-field-content-{{ column.name|lower }} show-model-field-type-{{ column.formType|lower }} col-md-10">
                                    {{ block('show_column') }}
                                </div>

                                {% if column.credentials is not empty %}
                                    {{ echo_endif() }}
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if rowCredentials is not empty %}
                            {{ echo_endif() }}
                        {% endif %}
                    {% endfor %}
                </div>

            {% if fieldsetCredentials is not empty %}
                {{ echo_endif() }}
            {% endif %}
        {% endfor %}
    {{ echo_endblock() }}
{% endblock %}
