{% use '../CommonAdmin/ShowTemplate/show.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/sidebar.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/tabs.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{- block('page_title') -}}

{{ echo_block("page_content") }}
	<div class="row">
        {% if sidebar|default is not empty %}
        <div class="show-model show-model-{{ builder.modelClass|lower }} col-md-8">
        {% else %}
        <div class="show-model show-model-{{ builder.modelClass|lower }} no-sidebar col-md-12">
        {% endif %}
            {% if tabs|default is not empty %}
                {{- block('tabs') }}
                    <div class="tab-content">
            {% else %}
                <div class="box box-primary">
                    <div class="box-body">
            {% endif %}
                        {{- block('show') -}}
            {% if tabs|default is not empty %}
                    </div>
                {{- block('end_tabs') }}
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>
	    {% if sidebar|default is not empty %}
            <div class="show-model-sidebar show-model-sidebar-{{ builder.modelClass|lower }} col-md-4">
                {{- block('show_sidebar') -}}
            </div>
	    {% endif %}
    </div>
{{ echo_endblock() }}
