{% use '../CommonAdmin/ShowTemplate/show.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/sidebar.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/tabs.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/object_actions.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{- block('page_title') -}}

{{ echo_block("page_content") }}
	<div class="row">
        {% if sidebar|default is not empty %}
        <div class="show-model show-model-{{ builder.modelClass|lower }} col-md-8">
        {% else %}
        <div class="show-model show-model-{{ builder.modelClass|lower }} no-sidebar col-md-12">
        {% endif %}

            {% if tabs|default is not empty %}
                {{- block('tabs') }}
                    <div class="tab-content">
            {% else %}
                <div class="box box-primary">
                    <div class="box-body">
            {% endif %}

            {{- block('show') -}}

            {% if tabs|default is not empty %}
                    </div>
            {% else %}
                    </div>
                    <div class="box-footer">
            {% endif %}

            {{ echo_block('show_actions') }}
                <div class="show-model-actions row">
                    <div class="show-model-actions-object col-md-6 btn-group" role="object-actions">
                        {{ block('object_actions') }}
                        {{ block('object_actions_script') }}
                    </div>
                    <div class="show-model-actions-generic col-md-6 text-right" role="generic-actions">
                        {{ block('generic_actions') }}
                        {{ block('generic_actions_script') }}
                    </div>
                </div>
            {{ echo_endblock() }}

            {% if tabs|default is not empty %}
                {{- block('end_tabs') }}
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>


	    {% if sidebar|default is not empty %}
            <div class="show-model-sidebar show-model-sidebar-{{ builder.modelClass|lower }} col-md-4">
                {{- block('show_sidebar') -}}
            </div>
	    {% endif %}
    </div>
{{ echo_endblock() }}
