{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/column.php.twig' %}

{% block show %}
{% import '../CommonAdmin/macros.php.twig' as macros %}
{{ echo_block('show') }}
    {{ echo_block('object') }}

    {% for fieldset in builder.fieldsets|keys %}
    {{ macros.echo_if_granted_any(builder.columnsFor(fieldset), builder.ModelClass) }}

        <fieldset class="form_block form_fieldset_{{ fieldset|classify|replace({'.': '_'}) }} tab-pane">
            {% if "NONE" != fieldset[:4] and "!" != fieldset[:1] %}
            <legend><span>{{ echo_trans(fieldset,{}, i18n_catalog is defined ? i18n_catalog : "Admin" ) }}</span></legend>
            {% endif %}

            {% for row in builder.fieldsets[fieldset] %}
            {% set rowColumns = builder.columnsFor(row) %}
            {{ macros.echo_if_granted_any(rowColumns, builder.ModelClass) }}

                <div class="row">
                {% for column in rowColumns %}
                    {% if column.credentials %}
                        {{ echo_if_granted(column.credentials, builder.ModelClass) }}
                    {% endif %}

                    <div class="col-md-2 text-right">
                    {{ echo_block('show_column_label_' ~ column.name) -}}
                        <strong>{{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}</strong>
                    {{- echo_endblock() }}
                    </div>

                    <div class="col-md-10">
                        <div class="form-group form_field field_{{ column.name }}">
                            {{ block('show_column') }}
                        </div>
                    </div>
                    {% if column.credentials %}
                        {{ echo_endif() }}
                    {% endif %}
                {% endfor %}
                </div>

            {{ echo_endif () }}
            {% endfor %}
        </fieldset>

    {{ echo_endif () }}
    {% endfor %}

    {{ echo_endblock() }}

    {{ echo_block('form_buttons') }}
        <div id="show-actions" class="form-group form-actions actions-bar">
            <div class="btn-toolbar" role="toolbar">
                {{ block("generic_actions") }}
            </div>
        </div>
    {{ echo_endblock() }}
{{ echo_endblock() }}
{% endblock %}
