{% block batch_actions %}
    {{ echo_block("batch_actions") }}
        {% if builder.BatchActions|default is not empty %}
            {% set actionCredentials = builder.BatchActions|mapBy('credentials')|flatten|clean|unique %}

            {% if actionCredentials is not empty %}
                {{ echo_set('actionCredentials', echo_twig_arr(actionCredentials), false) }}
                {{ echo_if('is_one_admingenerator_granted(actionCredentials)') }}
            {% endif %}
                <div class="input-group">
                    <select name="action" class="form-control">
                        <option selected="selected" value="none">{{ echo_trans('batch.list.selected') }}</option>
                        {% for action in builder.BatchActions %}
                            {{ echo_block('batch_action_' ~ action.twigName) }}
                            {% if action.credentials %}
                                {{ echo_if_granted(action.credentials) }}
                            {% endif %}
                                {{ block('batch_action_block') }}
                            {% if action.credentials %}
                                {{ echo_endif() }}
                            {% endif %}
                            {{ echo_endblock() }}
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" name="batch" class="btn btn-warning" title="{{ echo_trans('batch.list.send', {}, "Admingenerator", 'html_attr') }}">
                            {{ echo_trans('batch.list.send') }}
                        </button>
                    </span>
                </div>
            {% if actionCredentials is not empty %}
                {{ echo_endif() }}
            {% endif %}
        {% endif %}
    {{ echo_endblock() }}
{% endblock %}

{% block batch_action_block %}
    {% set translationDomain = action.type is same as('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}
    <option
        value="{{ action.name }}"
        {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain, 'html_attr') }}" {% endif -%}
        >
            {% if action.icon %}<i class="{% if action.icon is defined and action.icon|length > 0 %}fa {{ action.icon }}{% endif %}"></i> {% endif %}
            {{ echo_trans(action.label, {}, translationDomain) }}
    </option>
{% endblock %}

{% block batch_actions_script %}
    {{ echo_block('batch_actions_script_container') }}
    <script type="application/javascript">
        {{ echo_block('batch_actions_script_inner') }}
        window.S2A = window.S2A || {};
        window.S2A.batchActionsAdminOptions = {
            containerSelector: '.form-list-batch',
            actionSelector: 'select[name=action]',
            toggleSelector: 'input[name=batch_select_all]',
            elementSelector: '.list-results-fields-row-batch-selector',
            noActionValue: 'none',
            noElementsSelectedMessage: '{{ echo_trans("batch.list.none.selected", {}, 'Admingenerator', 'js') }}'
        };
        {{ echo_endblock() }}
    </script>
    {{ echo_endblock() }}
{% endblock %}