{% block generic_actions %}
    {{ echo_block("generic_actions") }}
            {% if builder.actions|default is not empty %}
                {{ echo_block('pre_generic_actions') }}{{ echo_endblock() }}
                {{ echo_if_granted(builder.actions|mapBy('credentials')|flatten|join(' or ')|default('denyAll')) }}

                {% for action in builder.Actions %}
                    {{ echo_block("generic_action_" ~ action.twigName) }}
                    {% if action.credentials %}
                        {{ echo_if_granted(action.credentials) }}
                    {% endif %}

                    {{ block('generic_action_block') }}

                    {% if action.credentials %}
                        {{ echo_endif() }}
                    {% endif %}
                    {{ echo_endblock() }}
                {% endfor %}

                {{ echo_endif() }}
                {{ echo_block('post_generic_actions') }}{{ echo_endblock() }}
            {% endif %}
    {{ echo_endblock() }}
{% endblock %}

{% block generic_action_block %}
    {% set actionRoute = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name) %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{}" %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% if action.submit %}
        <button type="submit" name="{{ action.name }}" class="generic-action btn {{ action.class|default('btn-default') }}"
          {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain, 'html_attr') }}"{% endif %}>
          {%- if action.icon %}<i class="fa fa-fw {{ action.icon|default }}"></i> {% endif %}{{ echo_trans(action.label, {}, translationDomain) }}
        </button>
    {% else %}
        <a class="generic-action btn {{ action.class|default('btn-default') }}" href="{{ echo_path(actionRoute, actionParams) }}"
          {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain, 'html_attr') }}"{% endif %}
          {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
          {%- if action.icon %}<i class="fa fa-fw {{ action.icon|default }}"></i> {% endif %}{{ echo_trans(action.label, {}, translationDomain) }}
        </a>
    {% endif %}
{% endblock %}

{% block generic_actions_script %}
    {{ echo_block('generic_actions_script_container') }}
    <script type="application/javascript">
        {{ echo_block('generic_actions_script_inner') }}
        window.S2A = window.S2A || {};
        window.S2A.genericActionsAdminOptions = {
            containerSelector: 'section.content',
            buttonSelector: '.generic-action'
        };
        {{ echo_endblock() }}
    </script>
    {{ echo_endblock() }}
{% endblock %}