{% block object_actions %}
    {{ echo_block("object_actions") }}
        {% if builder.objectActions|default is not empty %}
            {{ echo_if_granted(builder.objectActions|mapBy('credentials')|flatten|join(' or ')|default('denyAll'), builder.ModelClass) }}
                {{ echo_block('pre_object_actions') }}{{ echo_endblock() }}
                {% for action in builder.objectActions %}
                    {{ echo_block('object_action_' ~ action.twigName) }}
                        {% if action.credentials %}
                            {{ echo_if_granted(action.credentials, builder.ModelClass) }}
                        {% endif -%}
                        {{ block('object_action_block') }}
                        {%- if action.credentials %}
                            {{ echo_endif() }}
                        {% endif %}
                    {{ echo_endblock() }}
                {% endfor %}
                {{ echo_block('post_object_actions') }}{{ echo_endblock() }}
            {{ echo_endif() }}
        {% endif -%}
    {{ echo_endblock() }}
{% endblock %}

{% block object_action_block %}
    {% set actionRoute  = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_object') %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{ 'pk': " ~ builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ ", action: '" ~ action.name ~ "' }" %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% spaceless %}
    {{ echo_spaceless() }}
    <a  class="object-action btn btn-default {% if builder.yamlKey is sameas('list') %}btn-xs {% endif %}{{ action.class|default('') }}"
        href="{{ echo_path(actionRoute, actionParams) }}"
        data-original-title="{{ echo_trans(action.label, {}, translationDomain, 'html_attr') }}"
        {% if builder.yamlKey is sameas('list') %}
            rel="tooltip"
        {% endif %}
        {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm, {}, translationDomain, 'html_attr') }}" {% endif -%}
        {%- if action.csrfProtected and not action.forceIntermediate %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
            <i class="fa fa-fw {{ action.icon|default('fa-square-o') }}"></i>
            <span>{{ echo_trans(action.label, {}, translationDomain) }}</span>
    </a>
    {{ echo_endspaceless() }}
    {% endspaceless %}
{% endblock %}
