{% block tabs %}
    {% if tabs|default is not empty %}
        <div class="nav-tabs-custom">
            {{ echo_block("nav_tabs_wrapper") }}
                <ul class="nav nav-tabs">
                    {{ echo_block("nav_tabs") }}
                        {% for name, tab in tabs %}
                            {% set tabColumns = builder.getColumnsFor(tab) %}
                            {% set tabCredentials = tabColumns|mapBy('credentials')|flatten %}

                            {{ echo_block("nav_tabs"~name|classify|replace({'.': '_'})) }}
                                {% if tabCredentials is not empty %}
                                    {{ echo_set('tabCredentials', echo_twig_arr(tabCredentials), false) }}
                                    {% if builder.ymlKey is same as('list') or builder.ymlKey is same as('nested_list') %}
                                        {{ echo_if('is_one_admingenerator_granted(tabCredentials)') }}
                                    {% else %}
                                        {{ echo_if('is_one_admingenerator_granted(tabCredentials, ' ~ builder.ModelClass ~ ')') }}
                                    {% endif %}
                                {% endif %}
                                <li>
                                    <a data-toggle="tab" href="#"
                                       data-target="{%- for fieldsetName,fieldset in tab -%}{{ '.tab-pane-model-'~fieldsetName|classify|replace({'.': '-'}) }}{%if not loop.last%},{% endif %}{% endfor %}">
                                        {{ echo_trans(name, {}, i18n_catalog|default("Admin") ) }}
                                    </a>
                                </li>
                            {% if tabCredentials is not empty %}
                                {{ echo_endif() }}
                            {% endif %}
                            {{ echo_endblock() }}
                        {% endfor %}
                    {{ echo_endblock() }}
                </ul>
            {{ echo_endblock() }}
    {% endif %}
{% endblock %}

{% block end_tabs %}
    {% if tabs|default is not empty %}
        </div>
    {% endif %}
{% endblock %}