{% block tabs %}
{{ echo_block("form_tabs") }}
{% if tabs|default is not empty %}
    
    <ul id="form_tabs" class="form_tabs nav nav-tabs">
        {% for name, tab in tabs %}
            {% set tabColumns = builder.getColumnsFor(tab) %}
            {% set tabGroups = tabColumns|mapBy('groups')|flatten %}

            {% if tabGroups is not empty %}
            {{ echo_set('tabGroups', echo_twig_arr(tabGroups)) }}
            {{ echo_if('groups is empty or tabGroups|intersect(groups) is not empty') }}
            {% endif %}
            <li>
                <a data-toggle="tab" href="#"
                   data-target="{%- for fieldsetName, fieldset in tab -%}{{ '.form_fieldset_'~fieldsetName|classify|replace({'.': '_'}) }}{%if not loop.last%},{% endif %}{% endfor %}">
                    {{ echo_trans(name, {}, i18n_catalog|default("Admin") ) }}
                </a>
            </li>
            {% if tabGroups is not empty %}
            {{ echo_endif() }}
            {% endif %}
        {% endfor %}
    </ul>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#form_tabs').agen$tabs();
        });
    </script>
{% endif %}
{{ echo_endblock() }}
{% endblock %}
