{% block list_filters %}
    {{ echo_block('list_filters') }}
    {% if builder.filterColumns is not empty %}
        {% if builder.filterColumnGroups is not empty %}
            {{ echo_set('filterColumnGroups', echo_twig_arr(builder.filterColumnGroups), false) }}
            {{ echo_if('groups is empty or filterColumnGroups|intersect(groups) is not empty') }}
        {% endif %}
        {% if builder.filtersMode == 'top' %}
        <div class="col-md-12 list-filters-container">
        {% else %}
        <div class="col-md-3 list-filters-container">
        {% endif %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ echo_trans('list.filters') }}</h3>
                    {% if builder.filtersMode == 'top' %}
                        <div class="box-tools pull-right">
                            <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    {% endif %}
                </div>
                <form action="{{ echo_twig('filtersUrl') }}" method="post" {{ echo_twig("form_enctype(form)") }} role="form">
                    <div class="box-body">
                        {{ echo_twig("form_errors(form)") }}
                        {% for column in builder.filterColumns %}
                            {{ echo_block("list_filters_field_" ~ (column.name|lower)) }}
                            {% if column.groups is not empty %}
                                {{ echo_set('columnGroups', echo_twig_arr(column.groups), false) }}
                                {{ echo_if('groups is empty or columnGroups|intersect(groups) is not empty') }}
                            {% endif %}
                            <div class="form-group list-filters-field-{{ column.name|lower }}">
                                {{ echo_block("list_filters_field_" ~ (column.name|lower) ~ "_content" ) }}
                                {{ echo_twig("form_label(form['" ~ column.name ~ "'], '" ~ builder.FilterColumns[column.name].label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "'))") }}
                                {{ echo_twig("form_widget(form['" ~ column.name ~ "'], {'attr':{'class': 'form-control input-sm'}})") }}
                                {{ echo_twig("form_errors(form['" ~ column.name ~ "'], {'attr': {'class': 'form-control-feedback'}})") }}
                                {{ echo_endblock() }}
                            </div>
                            {% if column.groups is not empty %}
                                {{ echo_endif () }}
                            {% endif %}
                            {{ echo_endblock() }}
                        {% endfor %}
                        {{ echo_twig("form_rest(form)") }}
                    </div>
                    <div class="box-footer">
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-sm btn-default pull-right" name="reset" value="true"><i class="fa fa-refresh"></i> {{ echo_trans('list.button.reset') }}</button>
                            <button type="submit" class="btn btn-sm btn-primary pull-right"><i class="fa fa-search"></i> {{ echo_trans('list.button.filter') }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if builder.filterColumnGroups is not empty %}
            {{ echo_endif() }}
        {% endif %}
    {% endif %}
    {{ echo_endblock() }}
{% endblock list_filters %}