{% block form_batch_actions %}
    {{ echo_block("form_batch_actions") }}
        {% if batch_actions|default is not empty %}
            {% set actionPathName = builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_batch' %}
            <form id="form-list-{{ builder.ModelClass|lower }}" method="post" class="form-list-batch" action="{{ echo_path(actionPathName) }}" role="form">
                <input type="hidden" value="{{ echo_twig_filter(actionPathName, 'csrf_token', true) }}" name="_csrf_token" />
        {% endif %}
    {{ echo_endblock() }}
{% endblock %}
    
{% block endform_batch_actions %}
    {{ echo_block("endform_batch_actions") }}
        {% if batch_actions|default is not empty %}
            </form>
        {% endif %}
    {{ echo_endblock() }}
{% endblock %}
