{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tfoot.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{%- block list_results -%}

{% if builder.filterColumns is not empty %}
    {% if builder.filterColumnGroups is not empty %}
        {{ echo_set('filterColumnGroups', echo_twig_arr(builder.filterColumnGroups), false) }}
        {{ echo_if('groups is empty or filterColumnGroups|intersect(groups) is not empty') }}
<div class="col-md-9 list-results-container">
        {{ echo_else() }}
<div class="col-md-12 list-results-container">
        {{ echo_endif() }}
    {% else %}
<div class="col-md-9 list-results-container">
    {% endif %}
{% else %}
<div class="col-md-12 list-results-container">
{% endif %}
    <div class="box">
        <div class="box-header list-nb-results">
            {{- block('list_nbresults') -}}
        </div>
        <div class="box-body table-responsive no-padding list-results">
            <table id="table-list-{{ builder.ModelClass|lower }}" class="table table-hover object-actions-{{ builder.ModelClass|lower }}">
                {{ block('list_thead') }}
                {#
                    {{ block('form_batch_actions') }}
                        {{ block('list_tbody') }}
                        {{ block('list_tfoot') }}
                    {{ block('endform_batch_actions') }}
                #}
            </table>
        </div>
    </div>
</div>
{% endblock list_results %}
