{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tfoot.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}
{% use '../CommonAdmin/batch_actions.php.twig' %}

{%- block list_results -%}
<div class="row-fluid results-list">
    {{- block('list_nbresults') -}}


    <div class="list-table-wrapper">
        <table id="table-list-{{ builder.ModelClass }}" class="table table-striped table-hover table-condensed object-actions-{{ builder.ModelClass }}">
            {{ block('list_thead') }}

            {{ block('form_batch_actions') }}
                {{ block('list_tbody') }}
                {{ block('list_tfoot') }}
            {{ block('endform_batch_actions') }}
        </table>
    </div>
        
</div>
{% endblock list_results %}
