{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/form.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/footer.php.twig' %}

{%- block list_results -%}
    {% if builder.filtersMode != 'top' and builder.getFilterColumns(true) is not empty %}
        {% if builder.filterColumnGroups is not empty %}
            {{ echo_set('filterColumnGroups', echo_twig_arr(builder.filterColumnGroups), false) }}
            {{ echo_if('groups is empty or filterColumnGroups|intersect(groups) is not empty') }}
    <div class="col-md-9 list-results-container">
            {{ echo_else() }}
    <div class="col-md-12 list-results-container no-filters">
            {{ echo_endif() }}
        {% else %}
    <div class="col-md-9 list-results-container">
        {% endif %}
    {% else %}
    <div class="col-md-12 list-results-container no-filters">
    {% endif %}
        <div class="box box-primary">
            <div class="box-header list-header list-nb-results">
                {{- block('list_nbresults') -}}
            </div>
            {{ block('form_batch_actions') }}
                <div class="box-body table-responsive no-padding list-results">
                    <table id="table-list-{{ builder.ModelClass|lower }}" class="table table-hover object-actions-{{ builder.ModelClass|lower }}">
                        {{ block('list_thead') }}
                        {{ block('list_tbody') }}
                    </table>
                </div>
            <div class="box-footer list-footer">
                {{ block('list_footer') }}
            </div>
            {{ block('endform_batch_actions') }}
        </div>
    </div>
{% endblock list_results %}