{% use '../CommonAdmin/ListTemplate/column.php.twig' %}

{% block list_row_content %}
{{ echo_block("list_row_content") }}
    {% if batch_actions|default is not empty %}
        <td class="td_batch_action">
            <input type="checkbox" name="selected[]" class="batch_select_id" value="{{- echo_twig(builder.ModelClass ~ '.' ~ builder.getFieldGuesser().getModelPrimaryKeyName(model)) -}}" />
        </td>
    {% endif %}
    {% for column in builder.columns %}
    {% if column.groups|default is not empty %}
    {{ echo_set('columnGroups', echo_twig_arr(column.groups), false) }}
    {{ echo_if('groups is empty or columnGroups|intersect(groups) is not empty') }}
    {% endif %}
          <td class="td_{{ column.dbType }} td_{{ column.name }}">
          {{ echo_block('list_td_column_' ~ column.name) -}}
              {{- block('column_default') -}}
          {{- echo_endblock() }}
          </td>
    {% if column.groups|default is not empty %}
    {{ echo_endif() }}
    {% endif %}
    {% endfor %}
{{ echo_endblock() }}
{% endblock %}
