{% block list_scopes %}
    {{ echo_block("list_scopes") }}
    {% if scopes|default is not empty %}
        {% for groupName, group in scopes %}
            {{ echo_block("list_scopes_"~(groupName|classify|replace({'.': '_'})|lower)) }}
            <div class="row scopes-group scopes-group-{{ groupName|classify|replace({'.': '-'})|lower }}" role="scopes">
                <div class="col-md-12 scopes-list btn-group">
                    {% for scopeName, params in group %}
                    <a class="{{ 'btn btn-sm ' ~ params.class|default('btn-default') }} {{ echo_twig("scopes['" ~ (groupName|classify|lower) ~ "'] == '" ~ (scopeName|classify|lower) ~ "' ? 'active': 'inactive'") }}"
                       href="{{ echo_path(
                           builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_scopes',
                           "{ 'group': '" ~  (groupName|classify|lower) ~ "', 'scope': '" ~ (scopeName|classify|lower) ~ "' }") }}
                       ">
                        {%- if params.icon is defined %}<i class="fa {{ params.icon }}"></i> {% endif -%}
                        {{- echo_trans(scopeName, {}, i18n_catalog|default("Admin")) -}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {{ echo_endblock() }}
        {% endfor %}
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}
