{% use '../CommonAdmin/object_actions.php.twig' %}

{% block list_tbody %}
{{ echo_block("list_tbody") }}
    <tbody>
    {{ echo_block("list_tbody_rows") }}
        {{ echo_if (builder.ModelClass ~ "s|length > 0") }}

        {{ echo_for(builder.ModelClass, builder.ModelClass ~ "s" ) }}
            {{ echo_include(builder.namespacePrefixForTemplate ~ bundle_name ~ ':' ~ builder.BaseGeneratorName ~ 'List:row.html.twig') }}
        {{ echo_endfor() }}

        {{- block('object_actions_script') -}}

        {{ echo_else() }}
        <tr class="list_trow no_results_row">
            {# Span-all columns #}
            <td colspan="999">{{ echo_trans('list.no.results') }}</td>
        </tr>
        {{ echo_endif() }}
    {{ echo_endblock() }}
    </tbody>
{{ echo_endblock() }}
{% endblock %}
