{% block list_thead %}
    {{ echo_block("list_thead") }}
    <thead>
        {{ echo_block("list_thead_inner") }}
            {{ block('list_thead_content')}}
        {{ echo_endblock() }}
    </thead>
    {{ echo_endblock() }}
{% endblock %}

{% block list_thead_content %}
    <tr role="row" class="list-results-fields-header">
        {% if batch_actions|default is not empty %}
            <th class="list-results-fields-header-batch">
                <input id="batch_select_all" type="checkbox" name="batch_select_all" />
            </th>
        {% endif %}
        {% for column in builder.columns -%}
            {{ echo_block('list_thead_column_' ~ (column.name|lower)) -}}
            <th class="list-results-fields-header-column list-results-fields-header-column-{{ column.name|lower  }}{{ echo_if (column.isSortable) }} sorting{{ echo_if ("sortColumn == '" ~ column.sortOn ~ "' and sortOrder == 'ASC'") }}_asc{{ echo_elseif ("sortColumn == '" ~ column.sortOn ~ "' and sortOrder == 'DESC'") }}_desc{{ echo_endif () }}{{ echo_endif () }}">
                {% if column.isSortable -%}
                    {{ echo_if ("sortColumn == '" ~ column.sortOn ~ "' and sortOrder == 'ASC'") }}
                        <a href="?sort={{ column.sortOn }}&order_by=desc" class="{{ block('sort_icon') }}">
                    {{ echo_else() }}
                        <a href="?sort={{ column.sortOn }}&order_by=asc" class="{{ block('sort_icon') }}">
                    {{ echo_endif () }}
                {%- endif -%}
                        {{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}
                {%- if column.isSortable -%}
                    </a>
                {% endif -%}
            </th>
            {{ echo_endblock() }}
        {% endfor -%}

        {%- if object_actions|default is not empty %}
        {{ echo_block("list_thead_actions") }}
            <th class="list-results-fields-header-objectactions">{{ echo_trans('list.header.actions') }}</th>
        {{ echo_endblock() }}
        {% endif -%}
    </tr>
{% endblock list_thead_content %}
