{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ActionsTemplate/form.php.twig' %}
{% use '../CommonAdmin/ActionsTemplate/title.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{- block('page_title') -}}

{{ echo_block("page_content") }}
    <div class="row">
        {{ echo_twig("block('form_' ~ actionParams.action)") }}
    </div>
{{ echo_endblock() }}

{% for action in builder.ObjectActions %}    
    {{ echo_block('form_' ~ action.name|lower) }}
        <div class="action-model action-model-{{ builder.modelClass }} action-action-{{ action.name|lower }} col-md-12">
            {{- block('form') -}}
        </div>
    {{ echo_endblock() }}
{% endfor %}
