{% block list_filters %}
    {{ echo_block('list_filters') }}
    {% if builder.filterColumns is not empty %}
        {% set filterColumnsCredentials = builder.filterColumnsCredentials  %}
        {% if filterColumnsCredentials is not empty %}
            {{ echo_set('filterColumnsCredentials', echo_twig_arr(filterColumnsCredentials), false) }}
            {{ echo_if('is_one_admingenerator_granted(filterColumnsCredentials)') }}
        {% endif %}

        {% set boxClass = '' %}
        {% set classPrefix = builder.filtersMode == 'modal' ? 'modal' : 'box' %}
        {% if builder.filtersMode == 'modal' %}

            {% set sizeClass = (builder.filtersModalSize != 'medium') ? ('modal-' ~ 
                (builder.filtersModalSize == 'small' ? 'sm' : (
                    builder.filtersModalSize == 'large' ? 'lg' : ''))) : '' %}

<div class="modal fade" id="s2a_modal_filter_dialog" tabindex="-1" role="dialog" aria-labelledby="s2a_modal_filter_label" aria-hidden="true">
    <div class="modal-dialog {{ sizeClass }}">
        <div class="modal-content">


        {% elseif builder.filtersMode == 'top' %}
        <div class="col-md-12 list-filters-container">
        {% else %}
        <div class="col-md-3 col-xs-12 list-filters-container pull-right">
        {% endif %}

{{ echo_twig('form_start(form, {method: "post", action: filtersUrl, role: "form", novalidate: "novalidate"})') }}
        {% if builder.filtersMode != 'modal' %}

            {% set boxClass = (builder.defaultFiltersVisibility == 'collapsed') ? (builder.filtersMode == 'top') ? 'collapsed-box' : 'slided-box' : '' %}
            <div class="box box-primary {{ boxClass }}">
        {% endif %}

                <div class="{{ classPrefix }}-header">
                    {% if builder.filtersMode == 'modal' %}
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ echo_trans('list.button.close') }}</span></button>
                    {% endif %}
                    <h3 class="{{ classPrefix }}-title" id="s2a_modal_filter_label">{{ echo_trans('list.filters') }}</h3>
                    {% if builder.filtersMode == 'top' %}
                        <div class="box-tools pull-right">
                            <button class="btn btn-xs" data-widget="collapse"><i class="fa fa-{% if builder.defaultFiltersVisibility == 'collapsed' %}plus{% else %}minus{% endif %}"></i></button>
                        </div>
                    {% endif %}
                </div>

                    <div class="{{ classPrefix }}-body"{% if builder.filtersMode == 'top' and builder.defaultFiltersVisibility == 'collapsed' %} style="display: none;"{% endif %}>
                        {{ echo_twig("form_errors(form)") }}
                        {% for column in builder.filterColumns %}
                            {{ echo_block("list_filters_field_" ~ (column.name|lower)) }}
                            {% if column.filtersCredentials is not empty %}
                                {{ echo_if_granted(column.filtersCredentials) }}
                            {% endif %}
                            <div class="list-filters-field-{{ column.name|lower }} list-filters-type-{{ column.filterType|lower }}">
                                {{ echo_block("list_filters_field_" ~ (column.name|lower) ~ "_content" ) }}
                                {{ echo_twig("form_row(form['" ~ column.name ~ "'])") }}
                                {{ echo_endblock() }}
                            </div>
                            {% if column.filtersCredentials is not empty %}
                                {{ echo_endif () }}
                            {% endif %}
                            {{ echo_endblock() }}
                        {% endfor %}
                        {{ echo_twig("form_rest(form)") }}
                    </div>
                    <div class="{{ classPrefix }}-footer"{% if builder.filtersMode == 'top' and builder.defaultFiltersVisibility == 'collapsed' %} style="display: none;"{% endif %}>
                        {% if builder.filtersMode == 'modal' %}
                        <div class="btn-toolbar pull-left">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ echo_trans('list.button.close') }}</button>
                        </div>
                        {% endif %}
                        <div class="btn-toolbar pull-right">
                            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-magnifying-glass"></i> {{ echo_trans('list.button.filter') }}</button>
                            <button type="submit" class="btn btn-sm btn-default" name="reset" value="true"><i class="fa fa-arrows-rotate"></i> {{ echo_trans('list.button.reset') }}</button>
                        </div>
                    </div>
        {% if builder.filtersMode != 'modal' %}
            </div>
        {% endif %}

</form> 

        </div>
        {% if builder.filtersMode == 'modal' %}
    </div>
</div>
        {% endif %}
    

        {% if filterColumnsCredentials is not empty %}
            {{ echo_endif() }}
        {% endif %}
    {% endif %}
    {{ echo_endblock() }}
{% endblock list_filters %}
