{% block object_actions %}
    {{ echo_block("object_actions") }}
    {% if builder.objectActions|default is not empty %}
        {% set actionCredentials = builder.objectActions|mapBy('credentials')|flatten|clean|unique %}

        {% if actionCredentials is not empty %}
            {{ echo_set('actionCredentials', echo_twig_arr(actionCredentials), false) }}
            {{ echo_if('is_one_admingenerator_granted(actionCredentials, ' ~ builder.ModelClass ~ ')') }}
        {% endif %}

        {{ echo_block('pre_object_actions') }}{{ echo_endblock() }}
        {% for action in builder.objectActions %}
            {{ echo_block('object_action_' ~ action.twigName) }}
            {% if action.credentials %}
                {{ echo_if_granted(action.credentials, builder.ModelClass) }}
            {% endif -%}
            {{ block('object_action_block') }}
            {%- if action.credentials %}
                {{ echo_endif() }}
            {% endif %}
            {{ echo_endblock() }}
        {% endfor %}
        {{ echo_block('post_object_actions') }}{{ echo_endblock() }}
        {% if actionCredentials is not empty %}
            {{ echo_endif() }}
        {% endif %}
    {% endif -%}
    {{ echo_endblock() }}
{% endblock %}

{% block object_action_block %}
    {% set actionRoute  = action.route ? action.route : builder.getObjectActionsRoute %}
    {% set actionParams = action.params ? echo_twig_assoc(action.params) : "{ 'pk': " ~ builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ ", action: '" ~ action.name ~ "' }" %}
    {% set translationDomain = action.type is same as('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}

    {% apply spaceless %}
        {{ echo_spaceless() }}
        <a  class="object-action btn btn-default {% if builder.yamlKey is same as('list') or builder.yamlKey is same as('nested_list') %}btn-xs {% endif %}{{ action.class|default('') }}"
            href="{{ echo_path(actionRoute, actionParams) }}"
            title="{{ echo_trans(action.label, {}, translationDomain, 'html_attr') }}"
                {%- if action.confirm and not action.forceIntermediate %}
                    data-confirm="{{ echo_trans(action.confirm, {}, translationDomain, 'html_attr') }}"
                    data-confirm-modal="{{ action.confirmModal|default('#confirmObjectModal') }}"
                    data-toggle="modal"
                {% endif -%}
                {%- if action.csrfProtected and not action.forceIntermediate %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
            <i class="fa fa-fw {{ action.icon|default('fa-square-o') }}"></i>
            <span>{{ echo_trans(action.label, {}, translationDomain) }}</span>
        </a>
        {{ echo_endspaceless() }}
    {% endapply %}
{% endblock %}

{% block object_actions_script %}
    {{ echo_block('object_actions_script_container') }}
    <script type="application/javascript">
        {{ echo_block('object_actions_script_inner') }}
        window.S2A = window.S2A || {};
        window.S2A.singleActionsAdminOptions = {
            containerSelector: 'section.content',
            buttonSelector: '.object-action'
        };
        {{ echo_endblock() }}
    </script>
    {{ echo_endblock() }}
{% endblock %}