{% block form %}
    <div class="box box-primary">
        <form action="{{ echo_twig('path(actionRoute, actionParams)') }}" method="post" class="form-model-action form-model-action-{{ action.name|lower }}">
            <div class="box-body">
                <input type="hidden" name="_csrf_token" value="{{ echo_twig('path(actionRoute, actionParams)|csrf_token') }}"/>
                {{ echo_block('form_fields_' ~ action.name) }}{{ echo_endblock() }}
            </div>
            <div class="box-footer">
                <div class="form-group form-action-actions-generic">
                    <div class="btn-toolbar actions-bar" role="toolbar">
                        {{ echo_block('form_actions_' ~ action.name) }}
                        {{ block("form_actions") }}
                        {{ echo_endblock() }}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block form_actions %}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-fw fa-check"></i> {{ echo_trans('action.custom.confirm') }}
    </button>
    <a class="btn btn-default" href="{{ echo_path(builder.baseActionsRoute ~ '_list') }}">
        <i class="fa fa-fw fa-times"></i> {{ echo_trans('action.custom.cancel') }}
    </a>
{% endblock %}
