{% block page_title %}
    {{ echo_block("page_header_content") }}
        <h1>{{ echo_twig('title') }}</h1>
    {{ echo_endblock() }}
{% endblock %}

{% block site_title %}
    {{ echo_block("title") }}
        {{ echo_twig('parent()') }} - {{ echo_twig('title') }}
    {{ echo_endblock() }}
{% endblock %}
